.Header {
  background-color: rgb(43, 42, 42);
  color: #fff;
}
.Directory {
  background-color: lightgray;
}
.image {
  background-repeat: no-repeat;
}
.Shonen {
  background-color: rgb(255, 217, 0);
}
p {
  font-size: xx-large;
}
.button {
  color: rgb(59, 56, 56);
}
button:hover {
  background-color: red;
  color: #fff;
}
