.Header {
  background-color: rgb(43, 42, 42);
  color: #fff;
}
.Directory {
  background-color: lightgray;
}
.Square{
  width="100px";
  height="100px";
  background-color: red;
  margin-left: auto;
}
.image {
  background-repeat: no-repeat;
}
.Shonen {
  background-color: rgb(255, 217, 0);
}